.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20rem;
    background-image: url("baner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
}

.banner > div {
    display: flex;
    flex-direction: row;
}

.banner > div > h1 {
    font-weight: 800;
    font-size: 5.15rem;
    margin: 0;
}

.banner > div > h1:first-child {
    color: white;
}

.banner > div > h1:last-child {
    color: #C89632;
}

.banner > p {
    color: white;
    font-size: 1.8rem;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#greeting {
    display: flex;
}

#greeting > h1 {
    display: flex;
    font-size: 4.5rem;
    margin: 0;
    margin-bottom: 1rem;
}

#greeting > h1:nth-child(2) {
    color: #C89632;
}

.text-and-button {
    margin-right: 2rem;
}

.text-and-button > a {
    margin-top: 0.8rem;
}

.text-and-button > p {
    font-size: 18px;
    text-align: justify;
    width: 42rem;
}

.main-image {
    display: grid;
    padding-left: 5rem;
    padding-right: 5rem;
}

.main-image > img {
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    width: 23.25rem;
    height: 35rem;
}

.photo-background {
    grid-column: 1;
    grid-row: 1;
    width: 23.25rem;
    height: 35rem;
    background-color: #C89632;
    position: relative;
    z-index: 1;
}

#first-background {
    top: -15px;
    left: -15px
}

#second-background {
    top: 15px;
    left: 15px
}

.cards {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    background-color: #232323;
}

.card > p , .card > h1 {
    color: #C89632;
}

.card > p {
    font-size: 1.1rem;
    width: 29.5rem;
    text-align: justify;
}

.link-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #C89632;
    background: #232323;
    font-weight: 600;
    padding: 0.5em;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    text-decoration: none;
}

.link-button:hover {
    color: #232323;
    background: #C89632;
}